.book-list {
  display: block;
  margin-top: 100px;
}
.catalog-head {
  margin-top: 100px;

  text-transform: capitalize;
  width: 100%;
  position: absolute;
  border-bottom: 4px ridge #3d1c0b;
  background-color: #ffe4c4;
  margin-top: 0;
  padding-left: 30px;
  color: #3d1c0b;
  font-family: "Brush Script MT", cursive;
}

.LackOfBookS {
  display: block;
  margin-top: 100px;
  text-transform: capitalize;
  font-family: "Brush Script MT", cursive;
  text-align: center;
  font-size: 30px;
  font-style: bold;
  color: #ffe4c4;
}
