.headFavourites{
              
             
    margin-top:100px;
    
    text-transform: capitalize;
    width: 100%;
    position: absolute;
    border-bottom: 4px ridge #3D1C0B;
    background-color: #FFE4C4;
    margin-top: 0;
    padding-left: 30px;
    color: #3D1C0B;
    font-family: "Brush Script MT", cursive;
}
  #favourites{
    display: block;
        margin-top: 100px;
          
              }
 .LackOfBookS{
      display: block;
        margin-top: 100px;
      text-transform: capitalize;
      font-family: "Brush Script MT", cursive;
      text-align: center;
      font-size: 30px;
      font-style: bold;
      color: #FFE4C4;
    }     
          