#addBookForm {
  width: 100%;
  height: 100%;
}
.imgSectionAdd {
  right: 0;
  position: absolute;
}
.imgSectionAdd img {
  position: fixed;
  top: 100px;
  right: 0;
  height: 650px;
  width: 500px;
  border-left: 4px solid #3d1c0b;
}
.addHead {
  color: #f5cb79;
  text-align: center;
}
.book-box {
  color: #f5cb79;
  width: 450px;
  height: 600px;
  background-color: black;
  position: absolute;
  text-align: center;
  top: 150px;
  left: 300px;
  border: 2px solid black;
  border-radius: 10px;
}

.descriptionAdd {
  background-color: black;
  color: #f5cb79;
}
.descriptionAdd:focus {
  background-color: #f5cb79;
  color: black;
}
.addBtnSubmit {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #f5cb79;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
  background-color: black;
}

.addBtnSubmit:hover {
  background: #f5cb79;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #f5cb79, 0 0 25px #f5cb79, 0 0 50px #f5cb79,
    0 0 100px #f5cb79;
}

.addBtnSubmit span {
  position: absolute;
  display: block;
}

.addBtnSubmit span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #f5cb79);
  animation: btn-anim1 1s linear infinite;
}
.addInput {
  background-color: black;
  color: #f5cb79;
}
.addInput:focus {
  background-color: #f5cb79;
  color: black;
}
@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.addBtnSubmit span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #f5cb79);
  animation: btn-anim2 1s linear infinite;
  animation-delay: 0.25s;
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.addBtnSubmit span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #f5cb79);
  animation: btn-anim3 1s linear infinite;
  animation-delay: 0.5s;
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.addBtnSubmit span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #f5cb79);
  animation: btn-anim4 1s linear infinite;
  animation-delay: 0.75s;
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,
  100% {
    bottom: 100%;
  }
}

* {
  box-sizing: border-box;
}

/**************************************/

@media (min-width: 700px) {
  #addBookForm {
    width: 70%;
  }
}

#addBookForm p {
  float: left;
  width: 49%;
}
#addBookForm p:not(:nth-child(2n)) {
  margin-right: 2%;
}
#addBookForm p:last-child {
  clear: both;
  width: 100%;
}
#addBookForm p:nth-last-child(2) {
  clear: both;
  width: 100%;
}

/**************************************/

/* ul {
  list-style: none;
  padding: 0;
} */

#addBookForm label {
  display: block;
}

.addBtnSubmit,
.addInput,
.descriptionAdd {
  padding: 1em;
}

.contain {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}
@media (min-width: 600px) {
  .contain {
    padding: 0;
  }
}

/* h3
 {
  margin: 0;
} */

.addInput:focus,
.descriptionAdd:focus {
  outline: 3px solid #f5cb79;
}

.addInput,
.descriptionAdd,
.addaddBtnSubmit {
  width: 100%;
  border: 3px solid #f5cb79;
}
