 
#editBookForm{
    background-color: #F5CB79;
            width:100%;
          height: 100%;
          }
  
    .EditImgSection{
            right:0;
            position: absolute;
          }
        .EditImgSection img{
          position: fixed;
         top:100px;
          right:0;
          height:650px;
          width: 500px;
          border-left: 4px solid #F5CB79;
        }
     .editHead{
       color: #F5CB79;
       text-align: center;
     }    
  .book-box-edit {
    color: #F5CB79;
  width: 450px;
  height: 600px;
  background-color: black;
  position: absolute;
  text-align: center;
  top: 150px;
  left: 300px;
  border: 2px solid black;
    border-radius: 10px;
  }
  
  .descriptionEdit{
    background-color: black;
    color: #F5CB79;
  }
  .descriptionEdit:focus {
    background-color: #F5CB79;
    color: black;
  }
  #editBookForm .editBtnSubmit {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #F5CB79;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
    background-color: black;
   
  }
  
  #editBookForm .editBtnSubmit:hover {
    background: #F5CB79;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #F5CB79, 0 0 25px #F5CB79, 0 0 50px #F5CB79,
      0 0 100px #F5CB79;
  }
  
  .editBtnSubmit span {
    position: absolute;
    display: block;
  }
  
  .editBtnSubmit span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #F5CB79);
    animation: btn-anim1 1s linear infinite;
  }
  .editInput{
    background-color: black;
  color: #F5CB79; 
  }
  .editInput:focus {
    background-color: #F5CB79;
    color: black;
  }
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,
    100% {
      left: 100%;
    }
  }
  
  .editBtnSubmit span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #F5CB79);
    animation: btn-anim2 1s linear infinite;
    animation-delay: 0.25s;
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,
    100% {
      top: 100%;
    }
  }
  
  .editBtnSubmit span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #F5CB79);
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s;
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,
    100% {
      right: 100%;
    }
  }
  
  .editBtnSubmit span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #F5CB79);
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.75s;
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,
    100% {
      bottom: 100%;
    }
  }
  
  * {
    box-sizing: border-box;
  }
  
  /**************************************/
  
  @media (min-width: 700px) {
    #editBookForm {
      width: 70%;
    }
  }
  
  #editBookForm p {
    float: left;
    width: 49%;
  }
  #editBookForm p:not(:nth-child(2n)) {
    margin-right: 2%;
  }
  #editBookForm p:last-child {
    clear: both;
    width: 100%;
  }
  #editBookForm p:nth-last-child(2) {
    clear: both;
    width: 100%;
  }
  
  /**************************************/
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  #editBookForm label {
    display: block;
  }
  
  .editBtnSubmit,
  .editInput,
  .descriptionEdit {
    padding: 1em;
  }
  
  
  
  /* h3,
  ul {
    margin: 0;
  } */
  .contain {
      max-width: 1170px;
      margin-left: auto;
      margin-right: auto;
      padding: 1em;
    } 
   @media (min-width: 600px) {
      .contain {
        padding: 0;
      }
    } 
  
  /* h3,
  ul {
    margin: 0;
  } */
  .editInput:focus,
  .descriptionEdit:focus {
    outline: 3px solid #F5CB79;
  }
  
  .editInput,
  .descriptionEdit,
  .editBtnSubmit {
    width: 100%;
    border: 3px solid #F5CB79;
  }